# GitHub App Credentials (for OAuth - user info only)
GITHUB_APP_ID=your_github_app_id
GITHUB_APP_CLIENT_ID=your_github_app_client_id
GITHUB_APP_CLIENT_SECRET=your_github_app_client_secret
GITHUB_ADMIN_PAT=your_personal_access_token_here

# For personal repo: set GITHUB_OWNER to your username
# For organization repo: set GITHUB_OWNER to organization name
GITHUB_OWNER=Jovit-Mathew236
GITHUB_REPO=plode-release-management

ACCESS_CONTROL_TYPE=collaborator

APP_HOMEPAGE_URL=https://pipeline.plode.org/plode-assets-management/
APP_CALLBACK_URL=https://pipeline.plode.org/plode-assets-backend/

PORT=3000
